.app {
  width: 100%;
  min-width: 340px;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Lato', sans-serif;
  color: hsl(200, 10, 80);

  &__content {
    opacity: 0;
    animation: fade-in 300ms ease-out forwards;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
