.progress {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;

  &__message {
    width: 100%;
    height: 1.6rem;

    overflow: hidden;
    display: flex;
    justify-content: center;

    a,
    a:active,
    a:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}
